body {
  font: 300 14px "Helvetica Neue", Helvetica, Arial;
  min-height: 1000px;
}
#header {
  position: absolute;
  top: 0;
  height: 50px;
  left: 0;
  right: 0;
  border-bottom: 1px solid black;
  overflow: hidden;
}
.large {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}
.hidden { visibility: hidden }
.loading { }
#edit { padding: 10px; }
.logo { padding: 5px 10px; float: left; }
.attribution { margin-left: 10px; float: left; font-size: 12px; line-height: 52px; height: 50px;}
#controls { width: 33%; top: 0; right: 0; left: initial;}
#container {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -2px 0 0 -2px;
  width: 4px;
  height: 4px;
  background-color: #d00;
  opacity: 0.5;
}

#stats { bottom: 0px; right: 0px; }
.errorMessage { text-align: center; width: 200px; margin: 20px auto; }

@-webkit-keyframes rotate{
	from{
		-webkit-transform:rotate(0deg) translate(-9px) rotate(0deg);
	}
	to{
		-webkit-transform:rotate(360deg) translate(-9px) rotate(-360deg);
	}
}

.spinning {
	-webkit-animation:rotate infinite linear;
	-webkit-animation-duration:.5s;
	-webkit-animation-delay:.1s;
}